name: Arduino CI Build (2 of 3) wolfssl-examples-

# These 3 workflows are interdependent for the current $REPO_OWNER:
# Arduino CI Build 1: https://github.com/$REPO_OWNER/wolfssl          #  /.github/workflows/arduino.yml
# Arduino CI Build 2: https://github.com/$REPO_OWNER/wolfssl-examples #  /.github/workflows/arduino.yml
# Arduino CI Build 3: https://github.com/$REPO_OWNER/Arduino-wolfssl  #  /.github/workflows/arduino.yml

# See https://github.com/wolfSSL/Arduino-wolfSSL
#
# To test locally:
# cd [your WOLFSSL_ROOT], e.g. cd /mnt/c/workspace/wolfssl-$USER
# [optional checkout] e.g.     git checkout tags/v5.8.2-stable
# pushd ./IDE/ARDUINO
# export ARDUINO_ROOT="$HOME/Arduino/libraries"
# ./wolfssl-arduino.sh INSTALL
# cd [your WOLFSSL_EXAMPLES_ROOT] e.g. /mnt/c/workspace/wolfssl-examples-$USER
# cd


# START OF COMMON SECTION
on:
  push:
    branches: [ '**', 'master', 'main', 'release/**' ]
    paths:
      - 'Arduino/**'
      - '.github/workflows/arduino.yml'
  pull_request:
    branches: [ '**' ]
    paths:
      - 'Arduino/**'
      - '.github/workflows/arduino.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
# END OF COMMON SECTION

jobs:
  build:
    # if: github.repository_owner == 'wolfssl'
    runs-on: ubuntu-latest
    env:
      REPO_OWNER: ${{ github.repository_owner }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set job environment variables
        run: |
          # Script to assign some common environment variables
          echo "GITHUB_WORK=$(realpath "$GITHUB_WORKSPACE/../..")"  >> "$GITHUB_ENV"
          echo "ARDUINO_ROOT=$(realpath "$HOME/Arduino/libraries")" >> "$GITHUB_ENV"
          echo "WOLFSSL_EXAMPLES_ROOT=$(realpath "./")              >> "$GITHUB_ENV"

          # Show predefined summary:
          echo "GITHUB_WORKSPACE      = $GITHUB_WORKSPACE"

          # Show assigned env:
          echo "REPO_OWNER            = $REPO_OWNER"

          # Show ours:
          echo "GITHUB_WORK           = $GITHUB_WORK"
          echo "ARDUINO_ROOT          = $ARDUINO_ROOT"
          echo "WOLFSSL_EXAMPLES_ROOT = $WOLFSSL_EXAMPLES_ROOT"

      - name: Install Arduino CLI
        run: |
          # Script to fetch and run install.sh from arduino/arduino-cli
          curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh

      - name: Add Arduino CLI to PATH
        run: echo "${PWD}/bin" >> $GITHUB_PATH

      - name: Confirm Arduino CLI install
        run: arduino-cli version

      - name: Setup Arduino CLI
        run: |
          arduino-cli config init
          arduino-cli core update-index
          arduino-cli config add board_manager.additional_urls https://www.pjrc.com/teensy/package_teensy_index.json
          arduino-cli core update-index
          arduino-cli config add board_manager.additional_urls https://arduino.esp8266.com/stable/package_esp8266com_index.json
          arduino-cli core update-index
          arduino-cli core install esp32:esp32      # ESP32
          arduino-cli core install arduino:avr      # Arduino Uno, Mega, Nano
          arduino-cli core install arduino:sam      # Arduino Due
          arduino-cli core install arduino:samd     # Arduino Zero
          arduino-cli core install teensy:avr       # PJRC Teensy
          arduino-cli core install esp8266:esp8266  # ESP8266
          arduino-cli lib install "ArduinoJson"     # Example dependency
          arduino-cli lib install "WiFiNINA"        # ARDUINO_SAMD_NANO_33_IOT
          arduino-cli lib install "Ethernet"        # Install Ethernet library
          arduino-cli lib install "Bridge"          # Pseudo-network for things like arduino:samd:tian

          # arduino-cli lib install "wolfSSL"  # Install wolfSSL library from Arduino

          # Install current wolfSSL as an Arduino library:
      - name: Get wolfssl-examples
        run: |
          # The exampless are local in this wolfssl-example repo:
          ls ./Arduino/sketches

      - name: Shallow clone wolfssl
        run: |
          git clone --depth 1 https://github.com/wolfSSL/wolfssl.git

          # fetch open PR changes
          pushd wolfssl
          git remote add gojimmypi https://github.com/gojimmypi/wolfssl.git
          git fetch --depth 1 gojimmypi pr-arduino-print
          git checkout pr-arduino-print
          popd

          echo "Checking Arduino library directories..."

      - name: Install wolfSSL Arduino library
        run: |
          pushd wolfssl/IDE/ARDUINO

          # Set default ARDUINO_ROOT. TODO: once script is updated, this should be removed.
          export ARDUINO_ROOT="$HOME/Arduino/libraries"

          bash wolfssl-arduino.sh INSTALL  # Install wolfSSL library
          popd

      # This will fail with Arduino published wolfSSL v5.7.6 and older
      # as the examples moved. See https://github.com/wolfSSL/wolfssl/pull/8514
      #
      - name: Compile Arduino Sketches for various boards
        run: |
          pwd
          cd Arduino
          #./compile-all-examples.sh

      - name: Upload Compilation Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: compiled-sketch
          path: Arduino/sketches/template/build/*
