name: Arduino CI Build (3 of 4) wolfssl-examples with latest wolfssl

#
# Test local Arduino examples with clone of LATEST github master branch wolfssl
#
# These 4 workflows across 3 repos are interdependent for the current $REPO_OWNER:
#
# Arduino CI Build 1: https://github.com/$REPO_OWNER/wolfssl               #  /.github/workflows/arduino.yml
#   - Builds Arduino library from local clone of wolfssl master branch
#   - Fetches examples from https://github.com/$REPO_OWNER/wolfssl-examples
#
# Arduino CI Build 2: https://github.com/$REPO_OWNER/wolfssl-examples      #  /.github/workflows/arduino-release.yml
#    - Tests examples based on latest published release of Arduino library, NOT latest on wolfssl github.
#    - Should be identical to Arduino CI Build 3 in every way but wolfssl install.
#    - Copies only compile script from wolfssl-examples
#    - Builds local examples
#    - No other repos used
#
# THIS Arduino CI Build 3: https://github.com/$REPO_OWNER/wolfssl-examples #  /.github/workflows/arduino.yml
#   - Fetches current wolfSSL from https://github.com/$REPO_OWNER/wolfssl
#   - Creates an updated Arduino library
#   - Compiles local examples
#   - Contains the source of `compile-all-examples.sh` and respective board-list.txt
#
# Arduino CI Build 4: https://github.com/$REPO_OWNER/Arduino-wolfssl       #  /.github/workflows/arduino.yml
#    - Assembles and installs an updated Arduino wolfssl library from LOCAL wolfssl master source
#    - Copies only compile script copied from wolfssl-examples
#    - Builds local examples
#    - No other repos used
#
# Arduino CI Build 4: https://github.com/$REPO_OWNER/Arduino-wolfssl       #  /.github/workflows/arduino-release.yml
#    - Tests examples based on latest published release of Arduino library, NOT wolfssl github.
#    - Should be identical to Arduino CI Build 3 in every way but wolfssl install.
#    - Copies only compile script from wolfssl-examples
#    - Builds local examples
#    - No other repos used

# ** NOTE TO MAINTAINERS **
#
# Suggest using winmerge or similar tool to keep the 3 arduino.yml files in relative sync.
# Although there are some specific differences, most of the contents are otherwise identical.
#
# See https://github.com/wolfSSL/Arduino-wolfSSL
#
# To test locally:
# cd [your WOLFSSL_ROOT], e.g. cd /mnt/c/workspace/wolfssl-$USER
# [optional checkout]     e.g. git checkout tags/v5.8.2-stable
# pushd ./IDE/ARDUINO
# export ARDUINO_ROOT="$HOME/Arduino/libraries"
# ./wolfssl-arduino.sh INSTALL
# cd [your WOLFSSL_EXAMPLES_ROOT] e.g. /mnt/c/workspace/wolfssl-examples-$USER
#

# START OF COMMON SECTION
on:
  push:
    branches: [ '**', 'master', 'main', 'release/**' ]
    paths:
      - 'Arduino/**'
      - '.github/workflows/arduino-release.yml'
      - '.github/workflows/arduino.yml'
  pull_request:
    branches: [ '**' ]
    paths:
      - 'Arduino/**'
      - '.github/workflows/arduino-release.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
# END OF COMMON SECTION

jobs:
  build:
    # if: github.repository_owner == 'wolfssl'
    runs-on: ubuntu-latest
    env:
      REPO_OWNER: ${{ github.repository_owner }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Arduino CLI
        run: |
          # Script to fetch and run install.sh from arduino/arduino-cli

          # The install script will test to see if the recently installed apps in in the path
          # So set it up in advance:
          mkdir -p "${PWD}/bin"
          echo "${PWD}/bin" >> $GITHUB_PATH

          # Run install script:
          curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh

      - name: Confirm Arduino CLI install
        run: arduino-cli version

      - name: Setup Arduino CLI
        run: |
          arduino-cli config init
          arduino-cli core update-index
          arduino-cli config add board_manager.additional_urls https://www.pjrc.com/teensy/package_teensy_index.json
          arduino-cli core update-index
          arduino-cli config add board_manager.additional_urls https://arduino.esp8266.com/stable/package_esp8266com_index.json
          arduino-cli core update-index
          arduino-cli core install esp32:esp32      # ESP32
          arduino-cli core install arduino:avr      # Arduino Uno, Mega, Nano
          arduino-cli core install arduino:sam      # Arduino Due
          arduino-cli core install arduino:samd     # Arduino Zero
          arduino-cli core install teensy:avr       # PJRC Teensy
          arduino-cli core install esp8266:esp8266  # ESP8266
          arduino-cli lib install "ArduinoJson"     # Example dependency
          arduino-cli lib install "WiFiNINA"        # ARDUINO_SAMD_NANO_33_IOT
          arduino-cli lib install "Ethernet"        # Install Ethernet library
          arduino-cli lib install "Bridge"          # Pseudo-network for things like arduino:samd:tian

      - name: Set job environment variables
        run: |
          # Script to assign some common environment variables after everything is installed
          echo "GITHUB_WORK=$(realpath           "$GITHUB_WORKSPACE/../..")"  >> "$GITHUB_ENV" || exit 1
          echo "ARDUINO_ROOT=$(realpath          "$HOME/Arduino/libraries")"  >> "$GITHUB_ENV" || exit 1

          # Show predefined summary:
          echo "GITHUB_WORKSPACE      = $GITHUB_WORKSPACE"

          # Show assigned build:env values (e.g. "wolfssl", "gojimmpi" or other owners):
          echo "REPO_OWNER            = $REPO_OWNER"

          # Show our custom values:
          echo "GITHUB_WORK           = $GITHUB_WORK"
          echo "ARDUINO_ROOT          = $ARDUINO_ROOT"
          echo "WOLFSSL_EXAMPLES_ROOT = $WOLFSSL_EXAMPLES_ROOT"

      - name: Show wolfssl-examples
        run: |
          # The examples are local in this wolfssl-example repo:
          echo "PWD:$PWD"
          echo
          ls ./Arduino/sketches

      - name: Shallow clone wolfssl
        run: |
          git clone --depth 1 https://github.com/$REPO_OWNER/wolfssl.git

          # Assign your PR branch for testing here:
          THIS_PR_BRANCH=""

          # A gojimmypi-specific test!
          if [[ "$REPO_OWNER" == "gojimmypi" ]]; then
              THIS_PR_BRANCH="pr-arduino-print"
          fi

          if [ -z "$THIS_PR_BRANCH" ]; then
            echo "Assign your PR branch name for testing"
          else
              # fetch open PR changes
              pushd wolfssl
              git remote add $REPO_OWNER https://github.com/$REPO_OWNER/wolfssl.git
              git fetch --depth 1 "$REPO_OWNER" "$THIS_PR_BRANCH"
            git checkout "$THIS_PR_BRANCH"
            popd
          fi

      - name: Install wolfSSL Arduino library
        run: |
          # Run the cloned wolfssl-arduino.sh install script to install wolfssl Arduino library.

          # Even though the examples are in this library, we'll test as installed for library publishing
          # When WOLFSSL_EXAMPLES_ROOT is set, the examples will be copied from that path to the published library.
          echo "WOLFSSL_EXAMPLES_ROOT=$(realpath "./Arduino/sketches")"       >> "$GITHUB_ENV" || exit 1

          # Confirm ARDUINO_ROOT to install the wolfSSL library, see above "Set job environment variables"
          echo "ARDUINO_ROOT          = $ARDUINO_ROOT"
          echo "WOLFSSL_EXAMPLES_ROOT = $WOLFSSL_EXAMPLES_ROOT"

          # The install script is in the wolfssl repo, in /IDE/ARDUINO directory:
          pushd ./wolfssl/IDE/ARDUINO
          chmod +x ./wolfssl-arduino.sh
          bash ./wolfssl-arduino.sh INSTALL  # Install wolfSSL as Arduino library in ARDUINO_ROOT
          popd

      # This will fail with Arduino published wolfSSL v5.7.6 and older
      # as the examples moved. See https://github.com/wolfSSL/wolfssl/pull/8514
      #
      - name: Compile Arduino Sketches for various boards
        run: |
          # Run the compile-all-examples.sh script from the local Arduino directory

          echo "Current directory     = $PWD"
          echo "WOLFSSL_EXAMPLES_ROOT = $WOLFSSL_EXAMPLES_ROOT"

          pushd $WOLFSSL_EXAMPLES_ROOT
          chmod +x ./compile-all-examples.sh
          ./compile-all-examples.sh
          popd

      - name: Upload Compilation Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: compiled-sketch
          path: Arduino/sketches/template/build/*
